@font-face {
	font-family: 'Roboto';
	src: url(../../assets/fonts/Roboto-Light.eot) format('embedded-opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url(../../assets/fonts/Roboto-Light.eot) format('embedded-opentype');
	font-weight: 300;
	font-style: normal;
}